:root {
    --color-back: #000000;
    --color-black-2: rgb(33, 33, 33);
    --color-silver: #CBCBCB;
    --color-red: #ec1818;
    --color-aliexpress: #D32F2F;
    --color-amazon: #FF9900;
    --color-mercado-livre: #FFDB01;
    --color-shopee: #FF4500;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-background: #ffffff;
    --color-white: #ffffff;
    --color-shadow: #161616;
    --color-onys: #3d3d3d;
    --color-lavender-floral: #c478f3;
    --color-bar-column: #7402cb;
    --color-roxo-profundo: #5a009e;
    --color-blue-violet: #991AE6;
    --color-light: #c7c4c4;
    --font-family-kanit:"Kanit", sans-serif;
    --font-family-manrope: "Manrope", sans-serif;
    --font-size-1:1.5rem;
    --font-size-2:1rem;
    --font-size-3:0.8rem;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 30px;
    --header-background: linear-gradient(90deg, #5a009e 0%, #c478f3 100%);
    --sidebar-background: linear-gradient(90deg, #c478f3 0%, #ffffff 100%);
    --box-shadow-light: 0 1rem 2rem var(--color-light);
    --box-shadow-dark: 0 1rem 2rem var(--color-shadow);
    --box-shadow-violet: 0 0.5rem 1rem var(--color-blue-violet);
    /* background: linear-gradient(90deg, #3e3e3e 0%, #1b1b1b 100%); */
}

.dark-theme-variables{
    --color-background: linear-gradient(90deg, #3e3e3e 0%, rgba(0, 0, 0, 1) 100%);
    --header-background: linear-gradient(90deg, #3e3e3e 0%, rgba(0, 0, 0, 1) 100%);
    --sidebar-background: linear-gradient(90deg, #5a009e 0%, transparent 100%);
    --color-lavender-floral: #991AE6;
    --color-roxo-profundo: #edeffd;
    --color-white: #202528;
    --color-back: #edeffd;
    --color-dark: #edeffd;
    --color-onys: #edeffd;
    --color-dark-variant: #05802a;
    --color-ligth: rgba(0, 0, 0, 0.4);
    --box-shadow-violet: 0 0.5rem 1rem var(--color-shadow);
    --box-shadow-light: 0 2rem 3rem var(--color-shadow)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    color: var(--color-dark);
}


.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-phlox);
}

.canceled {
    color: red;
}

.danger {
    color: var(--color-dim-gray);
}

.success {
    color: var(--color-success);
}

.aliexpress {
    cursor: pointer;
    color: var(--color-aliexpress);
}
.amazon{
    cursor: pointer;
    color: var(--color-amazon);
}
.mercado-livre {
    cursor: pointer;
    color: var(--color-mercado-livre);
}
.shopee{
    cursor: pointer;
    color: var(--color-mercado-livre);
}
.warning {
    color: var(--color-shopee);
}
.aliexpress:hover,
.amazon:hover,
.mercado-livre:hover,
.shopee:hover,.warning:hover {
    color: var(--color-roxo-profundo);
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    gap: 2vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 9vh 89vh;
    grid-template-areas: "header header"
                         "aside main";
}

/*--------------------Header----------------*/
header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    grid-area: header;
    padding: 0px 40px 0px 40px;
    background: var( --header-background);
}
.container-logo-asi-code{
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.container-logo-asi-code h1{
    font-size: var(--font-size-1);
    color: var(--color-background);
}
.container-logo-asi-code h1 span{
    font-size: var(--font-size-1);
    color: var(--color-blue-violet);
}
.container-logo-asi-code img{
    width: 60px;
    height: 60px;
}
.header-profile {
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.header-profile  button {
    display: none;
}

.header-profile .theme-toggler {
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.header-profile.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-profile .theme-toggler span.active {
    background: var(--color-blue-violet);
    columns: white;
    border-radius: var(--border-radius-1);
}
.header-profile .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.header-profile .logo img {
    width: 3rem;
    height: 3rem;
    clip-path: circle();
    background: var(--color-silver);
}
.header-profile .close {
    display: none;
}

.header-profile .profile {
    display: flex;
    gap: 2rem;
    text-align: center;
}


.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile p {
font-size: var(--font-size-2);
font-family: var(--font-family-manrope);
}

aside {
    height: 100%;
    width: 100%;
    grid-area: aside;
    padding: 5px;
}


/*sidebar*/

aside .sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    gap: 20px;
}

aside h3 {
    font-size: var(--font-size-2);
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    color: var(--color-roxo-profundo);
    margin-left: 2rem;
    gap: 10px;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a h2 {
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-2);
    transition: all 300ms ease;
}
aside .sidebar a h2:hover {
    scale: 1.1;
}
aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}


aside .sidebar a.active {
    background: var(--color-red);
    color: var(--color-blue-violet);
    margin-left: 0;

}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-phlox);
}

aside .sidebar a.active span {
    color: var(--color-red);
    margin-left: calc(1rem - 3px);
    
}

aside .sidebar a:hover {
    border-top-left-radius:var(--border-radius-1);
    border-bottom-left-radius:var(--border-radius-1);
    background: var(--sidebar-background);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transform: translatey(-5px);
    transform: rotate(10deg);
}

aside .sidebar .message-count {
    background: var(--color-dim-gray);
    color: var(--color-blue-violet);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/*------------------------------main-----------------------------*/
main {
    height: 100%;
    width: 100%;
    padding-right: 10px;
    grid-area: main;
}
.main-contant{
    display: grid;
    width: 100%;
    height: 100%;
    gap: 10px;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "left right";
}
.left{
    padding: 10px;
    gap: 5px;
    grid-area: left;
}
.title-date  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-date  h1{
font-size: var(--font-family-kanit);
font-size: var(--font-size-1);
color: var(--color-blue-violet);
}
.title-date .date {
    display: inline-block;
    background:transparent;
    border-radius: var(--border-radius-1);
    padding: 0.3rem 1.3rem;
}

.title-date .date h1 {
    font-size: 1.5rem;
}

.title-date .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}
.infor-graphic-column-circle{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    gap: 20px;
}
/*------------------------------weekly-----------------------------*/
.container-weekly{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-weekly h2 {
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-2);
    color: var(--color-onys);
}

 .container-weekly h3 {
    margin-bottom: 0.8rem;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-3);
    color: var(--color-silver);
}

.container-weekly .weekly {
    width: 100%;
    padding: 10px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-violet);
    background: linear-gradient(90deg, #c478f3 0%, #991AE6 100%);
    transition: all 300ms ease;
}

.container-weekly .weekly:hover {
    box-shadow: none;
}


.container-graphic-bar-weekly {
    width: 100%;
    height: 130px;
}

.content-bars {
    display: flex;
    height: 100%;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
    width: 100%;
    border-bottom: 1px solid var(--color-background);
}

.bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 30px;
}

.bar {
    border-top-right-radius: var(--border-radius-1);
    border-top-left-radius: var(--border-radius-1);
    width: 100%;
    background-color: var(--color-bar-column);

}

.bar p {
    color: var(--color-background);
    text-align: center;
}

.weekly-name {
    width: 100%;
    height: 30px;
    text-align: center;
    align-content: center;


}

.weekly-name h2 {
    font-size: 0.7rem;
    color: var(--color-background);
}
/* ---------------insigths---------------------- */
main .insigths {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
}

main .insigths>div {
    display: flex;
    flex-direction: column;
    background:transparent;
    padding: 10px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
    align-items: flex-start;
}

main .insigths>div:hover {
    box-shadow: none;
}

main .insigths>div span {
    padding: 0.5rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

main .insigths>div.sales span {
    background: var(--color-background);
    color:var(--color-blue-violet);

}

main .insigths>div.expenses span {
    background: var(--color-background) ;
    color:var(--color-warning);
}

main .insigths>div.income span {
    color: var(--color-success);
    background: var(--color-background) ;
}


main .insigths>div.canceled-progress span {
    color: rgba(4, 0, 255, 0.555);
    background: var(--color-background);

}

main .insigths>div .middle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main .insigths h3 {
    font-size: 1rem;

}

main .insigths h1 {
    color:var(--color-onys);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-2);

}
main .insigths p {
    font-size: var(--font-size-3);
    color:var(--color-onys);
    font-family: var(--font-family-manrope);
}

.progress {
    display: flex;
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: transparent;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.circular-progress-sales,
.circular-progress-expenses,
.circular-progress-income,
.circular-progress-canceled{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00d123 3.6deg, #ee0707 0deg);
    align-items: center;
    justify-content: center;
    display: flex;
}

.circular-progress-sales::before,
.circular-progress-expenses::before,
.circular-progress-income::before,
.circular-progress-canceled::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-white);
}

main .insigths .progress .progress-value-sales,
.progress-value-expenses,
.progress-value-income,
.progress-value-canceled{
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-back);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insigths svg {
    width: 7rem;
    height: 7rem;
}

main .insigths svg circle {
    fill: none;
    stroke: var(--color-phlox);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dashoffset: 92;
}

main .insigths .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 300;
}

main .insigths .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insigths .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insigths .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled-content {
    display: none;
}

.container-recent-products {
    width: 100%;
    background-color: transparent;
}


main .all-products {
    height: 100%;
    width: 100%;
    gap: 10px;
}
main .all-products h1 {
font-size: var(--font-size-1);
font-family: var(--font-family-kanit);
color: var(--color-blue-violet);
}

.container-all-products-add-products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 10px;
    height: 100%;
    gap: 10px;
}

.table {
    margin-top: 2rem;
    min-height: 20px;
    max-height: 200px;
    overflow: auto;
    background:transparent;
    width: 100%;
    border-radius: var(--card-border-radius);
    text-align: center;
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
}

main .recent-products h2,
main .all-products h2 {
    text-align: start;
    margin: 10px;
    color: var(--color-blue-violet);
}

main .recent-products table,
main .all-products table {
    background: transparent;
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    border-collapse: collapse;
    transition: all 300ms ease;
}


.button-create-product button {
    width: 100%;
    height: 100%;
    margin: 5px;
    background: var(--color-lavender-floral);
    height: 40px;
    border-radius: 30px;
    width: 150px;
    font-weight: 600;
    box-shadow: var(--box-shadow-violet);
    font-size: var(--font-size-2);
    cursor: pointer;
    border-radius: var(--border-radius-2);
    color: var(--color-background);
    transition: all 300ms ease;
}

.button-create-product button:hover {
    background: var(--color-blue-violet);
    box-shadow: none;
}
.button-all-products button {
    width: 100%;
    height: 100%;
    margin: 5px;
    background: var(--color-lavender-floral);
    height: 40px;
    border-radius: 30px;
    width: 150px;
    font-weight: 600;
    box-shadow: var(--box-shadow-violet);
    font-size: var(--font-size-2);
    cursor: pointer;
    border-radius: var(--border-radius-2);
    color: var(--color-background);
    transition: all 300ms ease;
}

.button-all-products button:hover {
    background: var(--color-blue-violet);
    box-shadow: none;
}
.container-get-btn-all-get-btn-number {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-filter-product-number {
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined{
    user-select: none;  
}
.button-filter-product-number .material-symbols-outlined {
    background-color: var(--color-lavender-floral);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
    cursor: pointer;
    box-shadow: var(--box-shadow-violet);
}
.button-filter-product-number .material-symbols-outlined:hover {
    scale: 1.1;
    background-color: var(--color-blue-violet);
}


main .table:hover,
main .table:hover,
main .all-order-table:hover,
main .all-products table:hover {
    box-shadow: none;
}

.recent-products thead th,
.all-product-table thead th {
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-3);
    background-color: var(--color-background);
    background: var(--color-white);
    color: var(--color-onys);
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.recent-products tbody,
.all-product-table tbody {
    overflow-y: auto;
    position: relative;
}

#input-product {
    height: 80%;
    width: 200px;
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
    box-shadow: var(--box-shadow-light);

}

input::placeholder {
    text-align: center;
}

#input-product::-webkit-inner-spin-button,
#input-product::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
main .all-product-table {
    width: 100%;
    margin-top: 1rem;
    min-height: 20px;
    max-height: 180px;
    overflow: auto;
    background: transparent;
    border-radius: var(--card-border-radius);
    text-align: center;
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;

}
main .all-product-table:hover {
 box-shadow: none;

}


main table tbody td {
    font-size: var(--font-size-3);
    border: 1px solid #c7c4c4;
    font-family: var(--font-family-manrope);
    background-color: var(--color-background);
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.btn-edit-product{
    cursor: pointer;
    color: blue;
    opacity: 50%;

}
.btn-delete-product{
    cursor: pointer;
    color: var(--color-red);
    opacity: 50%;
}
.btn-remove-product:hover,.btn-add-product:hover,.btn-add-product:hover,.btn-delete-product{
    opacity: 100%;
}
main .products-supplier {
    width: 80%;
    height: 80%;
    margin-top: 2rem;
}

main .products-supplier h2 {
   color: var(--color-onys);
}

#items-product {
    font-size: 1.5rem;
    background: transparent;
}

#supplier-name {
    font-size:var(--font-size-2);
    font-family: var(--font-family-manrope);
    margin: 5px;
    font-weight: 600;
    color: var(--color-back);
}

.supplier-description {
    margin-top: 2rem;
    min-height: 20px;
     height: auto;
    overflow: auto;
    background: transparent;
    width: 100%;
    border-radius: var(--card-border-radius);
    text-align: center;
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
}

main .products-all-product-table:hover {
    box-shadow: none;
}


main .products-supplier h2 {
    margin-bottom: 0.8rem;
}

main .products-supplier table {
    width: 100%;
    background: transparent;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    border-collapse: collapse;
}

main .products-supplier table:hover {
    box-shadow: none;
}

main .supplier-description thead th {
    color: var(--color-onys);
    font-size: var(--font-size-3);
    font-family: var(--font-family-manrope);
    background-color: var(--color-background);
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.supplier-description tbody {
    overflow-y: auto;
    position: relative;
}

.create-delete-update-product{
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.create-delete-update-product h1{
font-size: var(--font-size-1);
font-family: var(--font-family-kanit);
color: var(--color-blue-violet);
height: auto;
width: 100%;
}
 

main .right {
    padding: 10px;
    grid-area: right;
    height: 80%;
    width: 90%;
}

.right .products-analytics {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: center;
}
.content-title{
    height:30px;
    width: 100%;
    margin: 2px 0px 2px 0px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.content-title h1{
    height:100%;
    width: 100%;
    font-size: var(--font-size-2);
    font-family: var(--font-family-kanit);
    color:var(--color-onys);

}
.content-products{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.right .products-analytics .products {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 5px;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
}

.right .products-analytics .products:hover {
    box-shadow: none;
}

.img-produtcs {
    width: 50px;
    clip-path: circle();
}

.description-product h1 {
    font-size: 1rem;
    margin-top: 5px;
    color: var(--color-phlox);

}

.description-product h2 {
    font-size: var(--font-size-3);
    font-family: var(--font-family-manrope);
}

.create-delete-update-product .container-create-delete-update-products-crud{
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    min-height: 70px;
    height: 100%;
    overflow: auto;
    background:transparent;
    text-align: center;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
}
.create-delete-update-product .container-create-delete-update-products-crud:hover{
  box-shadow: none;
}
.create-update-delete-form-product{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.create-delete-update-product .container-create-delete-update-products-crud form{

    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.form-group-text{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.form-group-number{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}
.container-create-delete-update-products-crud label{
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--color-onys);
}
.container-create-delete-update-products-crud   input[type="text"]{
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    border: solid 1px #3d3d3d;
    color: var(--color-back);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
}
.container-create-delete-update-products-crud   input::placeholder{
 font-size: 0.9rem;
 font-weight: 600;
 color: var(--color-onys);
 opacity: 60%;
}
.container-create-delete-update-products-crud  input[type="number"]{
    width: 70px;
    height: 40px;
    text-align: center;
    border: solid 1px #3d3d3d;
    color: var(--color-back);
    background: transparent;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow-light);
    transition: all 300ms ease;
  }
  .container-create-delete-update-products-crud  input[type="number"]:hover,.container-create-delete-update-products-crud   input[type="text"]:hover{
    box-shadow: none;
}
.create-update-delete-form-product select{
    text-align: center;
    font-weight: 600;
    font-family: var(--font-family-manrope);
    color: var(--color-back);
    border: solid 1px #3d3d3d;
    border-radius: var(--border-radius-2);
    background: transparent;
    cursor: pointer;
    width: 80%;
    font-size: var(--font-size-2);
}
.create-update-delete-form-product select option{
  color: var(--color-back);
  background-color: var(--color-white);
}

.form-content-number{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}
  .form-content-number .material-symbols-outlined {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    border: none;
    background:transparent;
    color:var(--color-lavender-floral);
  }
  .form-content-number .material-symbols-outlined:hover {
    color:var(--color-warning);
  }
  
  .form-content-number .decrement,.form-content-number .increment {
    padding: 5px 7px;
    font-weight: 600;
    font-family: var(--font-family-manrope);
    font-size: 1rem;
    border: none;
    background:transparent;
    color:var(--color-lavender-floral);
    border-radius: 3px;
    transition: all 300ms ease;
  }
.create-update-delete-form-product .btn-add-confirm-or-delete {
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    margin: 5px;
    background: var(--color-lavender-floral);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-violet);
    color:var(--color-background);
    border-radius: var(--border-radius-2);
    transition: all 300ms ease;
  }
  
  .create-update-delete-form-product .btn-add-confirm-or-delete:hover {
    background:var(--color-blue-violet);
    box-shadow:none;
  }   
@media (max-width:1470px) {
    .container {
        gap: 50px;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: " aside right"
            "aside main";
    }
    .right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 0px 30px 0px 0px;
    }

    .products-analytics {
        display: flex;
        flex-direction: column;
    }

    .description-product {
        display: flex;
        flex-direction: row;
    }

    .right .products-analytics .products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1px;
    }

    main {
        padding: 0px 30px 0px 0px;
    }

}

@media screen and (max-width: 1200px) {

    aside .sidebar a {
        width: 5.6rem;
    }

    main .insigths {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }

    .sales,
    .expenses,
    .income,
    .canceled-progress,
    .productivity {
        margin-right: 30px;
    }

    .container-recent-products {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

    }

    main .recent-products {
        width: 94%;
    }
}

@media screen and (max-width: 1130px) {
    .container-recent-products {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 1050px) {

    aside .logo h2,
    aside .sidebar h3 {
        display: none;
    }


}

@media screen and (max-width: 860px) {
    .right {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    aside {
        top: 0;
        position: fixed;
        background: var(--color-background);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-info-light);
        padding-right: var(--card-padding);
        display: none;
     
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }

    }
    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        padding: 0px 10px 0px 10px;


    }

    main .recent-products {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-products table {
        width: 100%;
        margin: 0;
    }


    .recent-products thead th,
    .all-product-table thead th {
        font-size: 8px;
    }

 
 

    .right {
        margin: 0;
        padding: 0px 10px 0px 10px;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        height: 4.6rem;
        background: var(--color-background);
        width: 100%;
        margin: 0px 30x 0px 30px;
        z-index: 1;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 50%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        margin-left: 30px;
        color: var(--color-dark);
        cursor: pointer;
        left: 10rem;
    }

    .right .top button span {
        font-size: 2rem;
    }

    .profile {
        margin-right: 30px;
    }
}